[branch "develop"]
 mergeoptions = --no-ff
[alias]
 type = cat-file -t
 dump = cat-file -p
 br = branch
 ch = checkout
 co = commit -am
 ci = commit -m
 amd = commit --amend
 # get list of committers without including merge commits
 cm = shortlog -nse --no-merges
 cp = cherry-pick
 df = diff --word-diff
 # find a file path
 fi = !git ls-files | grep -i
 # search/grep the entire codebase for a string
 gr = grep -Ii
 # log (hash, relative date, commit, commiter)
 ld = log --pretty=format:'%C(yellow)%h %C(bold red)%ad%C(reset)%C(red)%d %C(reset)%s%C(blue) [%cn]' --decorate --date=relative
 # log git history tree graph
	lg = log --oneline --decorate --all --graph
 # log edited files per commit
 ll = log --pretty=format:'%C(yellow)%h%C(red)%d %C(reset)%s%C(blue) [%cn]' --decorate --numstat
 hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
 ph = push origin
 pl = pull origin
 st = status -sb
 sth = stash
 pop = stash pop
 # unstage (git reset HEAD path/to/file)
 un = reset HEAD
 back = reset HEAD~1
 # git flow: http://danielkummer.github.io/git-flow-cheatsheet/
 start = flow feature start
 finish = flow feature finish

[push]
	default = simple
[webui]
	autoupdate = true
[color]
	ui = true
